<div class="body container">
    <!-- <app-login></app-login> -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directive></app-directive> -->
    <!-- <app-product-list></app-product-list> -->
    <!-- <app-greet>

        <p>This is paragraph1 of the parent component</p>
        <p>This is paragraph2 of the parent component</p>

    </app-greet> -->
    <!-- <app-card title="My Card">
      <p>This is the content of the card.</p>
      <button>Click me</button>
      <div id="div1id">  Div1 with id</div>
      <div class="div1class">  Div1 with Class</div>
    </app-card> -->

    <!-- <app-structural-directives></app-structural-directives> -->
    <!-- <app-attribute-directives></app-attribute-directives> -->
    <!-- <app-event-directives></app-event-directives> -->
    <!-- <app-directives-practice></app-directives-practice> -->
     <!-- <app-dependent-select></app-dependent-select> -->
     <!-- <app-post-crud-api></app-post-crud-api> -->
      <!-- <app-employee-crud></app-employee-crud> -->
      <!-- <app-custom-directives-practices></app-custom-directives-practices> -->
      <!-- <app-input-validation></app-input-validation> -->
      <!-- <app-pipes></app-pipes> -->
      <!-- <app-custom-pipes></app-custom-pipes> -->
      <!-- <app-custom-pipes-practices></app-custom-pipes-practices> -->
      <!-- <app-assignment-custom-pipe></app-assignment-custom-pipe> -->
      <!-- <app-impure-pipes-practices></app-impure-pipes-practices> -->
      <!-- <app-component-communication></app-component-communication> -->
      <!-- <input type="text" [(ngModel)]="users[0].first_name" >
      <app-life-cycle-hooks [users]="users" ></app-life-cycle-hooks> -->
      <!-- <app-services-practice></app-services-practice> -->
      <app-post-data-api></app-post-data-api>
      <!-- <app-product-api></app-product-api> -->



</div>
