<p>pipes works!</p>
<h1> {{name}} </h1>
<h1> {{name | uppercase}} </h1>
<h1> {{name | lowercase}} </h1>
<h1> {{name | titlecase}} </h1>
==============================
<h1>{{salary}} </h1>
<h1>{{salary | currency}} </h1>
<h1>{{salary | currency:'INR'}} </h1>
<h1>{{salary | currency:'CNY'}} </h1>
=================================
<h1> {{today}} </h1>
<h1> {{today | date}} </h1>
<h1> {{today | date : 'fullDate'}} </h1>
<h1> {{today | date : 'mediumDate'}} </h1>
<h1> {{today | date : 'shortDate' }} </h1>
<h1> {{today | date : 'fullTime'}} </h1>
<h1> {{today | date:'mediumTime'}} </h1>
<h1> {{today | date : 'shortTime'}} </h1>
===========================================
<h1> {{salary }} </h1>
<h1> {{salary | number:'1.2-2' }} </h1>
<h1> {{ 11.1112332 | number:'1.2-2' }} </h1>
<h1> {{ 11.12 | number:'1.3-4' }} </h1>
<h1>{{ salary | number:'1.2-2' }}%</h1>
===========================================

<h1>{{ 0.25 | percent:'1.0-0' }}</h1>
===================================
<h1> {{user}} </h1>
<h1> {{user | json}} </h1>
============================================
<h3 *ngFor="let entry of user | keyvalue">
  {{ entry.key }}---{{ entry.value }}
</h3>
============================================
<h1> {{arr1}} </h1>
<h1> {{arr1 | slice:1:4 }} </h1>
<h1> {{arr1 | slice:2 }} </h1>
<h1> {{arr1 | slice:2:-1 }} </h1>
